<configuration>
   <dllmap dll="nppc64_10" target="libnppc.so" />
   <dllmap dll="nppial64_10" target="libnppial.so" />
   <dllmap dll="nppicc64_10" target="libnppicc.so" />
   <dllmap dll="nppicom64_10" target="libnppicom.so" />
   <dllmap dll="nppidei64_10" target="libnppidei.so" />
   <dllmap dll="nppif64_10" target="libnppif.so" />
   <dllmap dll="nppig64_10" target="libnppig.so" />
   <dllmap dll="nppim64_10" target="libnppim.so" />
   <dllmap dll="nppist64_10" target="libnppist.so" />
   <dllmap dll="nppisu64_10" target="libnppisu.so" />
   <dllmap dll="nppitc64_10" target="libnppitc.so" />
   <dllmap dll="npps64_10" target="libnpps.so" />
</configuration>