<configuration>
   <dllmap dll="nppc64_11" target="libnppc.so" />
   <dllmap dll="nppial64_11" target="libnppial.so" />
   <dllmap dll="nppicc64_11" target="libnppicc.so" />
   <dllmap dll="nppidei64_11" target="libnppidei.so" />
   <dllmap dll="nppif64_11" target="libnppif.so" />
   <dllmap dll="nppig64_11" target="libnppig.so" />
   <dllmap dll="nppim64_11" target="libnppim.so" />
   <dllmap dll="nppist64_11" target="libnppist.so" />
   <dllmap dll="nppisu64_11" target="libnppisu.so" />
   <dllmap dll="nppitc64_11" target="libnppitc.so" />
   <dllmap dll="npps64_11" target="libnpps.so" />
</configuration>